page-take-photo {
  .picture {
    height: 70vh;
    text-align: center;
    margin: 15px auto auto auto;
  }

  .buttons {
    margin: auto auto auto auto;

    button {
      background-color: $appTheme;
      padding: 15px;
    }
  }

  .large {
    font-size: 5em;
    border: 2px solid $appTheme;
    padding: 50px 80px 50px 80px;
  }

  #pic-parent {
    margin: 15px;
    padding: 0;
    border-radius: 5px;
    position: relative;
    color: $appTheme;
    border-color: $appTheme;
  }

  .closeBtn {
    background-color: $appTheme;
    border-radius: 10px;
    padding-left: 8px !important;
    padding-right: 8px !important;
    font-size: 3em;
    color: black;
    position: absolute;
    top: 0;
    right: 0;
  }

  #picture {
    width: 100%;
    height: 100%;
    margin: 0;
    border-radius: 10px;
    border: 5px solid $appTheme;
  }

  ion-col {
    text-align: center !important;
    margin-left: auto !important;
    margin-right: auto !important;
  }
}
